.alertMessage {
    display: flex;
    flex-direction: column;
}
.dynamicTitle {
    display: flex;
    flex-direction: row;
}
.noteText {
    margin-top: 24px !important;
}
.ul {
    padding-left: 25px;
}
.graphAndTableContainer {
    margin-top: 10px;
    display: grid;
    grid-template-columns: minmax(450px, 720px) 500px;
    min-width: 960px;
    justify-content: center;
}
