[submodule "api/oxidationStates"]
	path = api/oxidationStates
	url = git@github.com:TRI-AMDD/oxidationStates.git
[submodule "api/oxidation-state-api-public"]
	path = api/oxidation-state-api-public
	url = git@github.com:TRI-AMDD/oxidation-state-api-public.git
