.container {
    width: 1102px;
    margin-top: 40px;
    text-align: start;
}

.howToCard {
    background-color: #f3f3f3;
    padding: 16px 24px;
    display: flex;
    justify-content: space-between;
}
.howToTitle {
    margin-bottom: 16px !important;
}
.image {
    margin-top: 16px;
    margin-bottom: 8px;
    margin-right: 8px;
}

.imageContainer {
    display: flex;
    flex-direction: row;
}
.ul {
    padding-inline-start: 15px;
    margin-block-end: 0;
}

.compareIcon {
    display: flex;
    align-items: center;
}
