.container {
    display: flex;
    flex-direction: column;
    width: 1102px;
}

.title {
    margin-bottom: 32px !important;
}

.subtext {
    margin-top: 16px !important;
    text-align: justify;
}

.description {
    text-align: justify;
}
