.container {
    width: 500px;
    padding-left: 12px;
}

.canvasContainer {
    width: 400px;
    margin-bottom: 16px;
    position: relative;
}

.graphContainer {
    display: grid;
    grid-template-columns: 70px 1fr;
}

.species {
    position: relative;
}

.species > div {
    position: absolute;
    left: 5px;
}

.graphHeader {
    display: flex;
    margin-bottom: 8px;
}

.graphExport {
    padding: 15px 5px 10px;
}

.inputAndToggleContainer {
    display: flex;
    flex-direction: row;
    margin-bottom: 8px;
}
