.container {
    width: 450px;
    padding-left: 12px;
}

.canvasContainer {
    width: 350px;
    margin-bottom: 16px;
}

.graphContainer {
    display: grid;
    grid-template-columns: 70px 1fr;
}

.species {
    position: relative;
}

.species span {
    position: absolute;
    left: 5px;
}

.graphHeader {
    display: flex;
    margin-bottom: 8px;
}

.graphExport {
    padding: 15px 5px 10px;
}