.toggleButton {
    width: 48px;
    height: 48px;
    background: none;
    border: none;
}

.container {
    width: 100%;
    display: flex;
    justify-content: flex-end;
    padding-bottom: 16px;
}
