.graphAndTableContainer {
    margin-top: 10px;
    display: grid;
    grid-template-columns: minmax(450px, 720px) 450px;
    min-width: 960px;
    justify-content: center;
}

.alertMessage {
    display: flex;
    flex-direction: row;
}

.noteText {
    margin-top: 24px !important;
}
